<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <style>
        body {
            text-align: center; /* Pour centrer le texte horizontalement */
        }

        .container {
            margin: 0 auto; /* Pour centrer le contenu dans la page */
            max-width: 800px; /* Largeur maximale du contenu */
        }
    </style>
</head>
<body>
    <!-- Contenu de la page d'accueil -->
    <div class="container">
        <h1>Moteur de recherche</h1>
        <p>Utilisez le formulaire ci-dessous pour rechercher des informations sur le web.</p>
        <form action="/rechercher" method="get">
            <input type="text" name="query" placeholder="Entrez votre recherche">
            <button type="submit">Rechercher</button>
        </form>
    </div>
</body>
</html>