body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px; /* Largeur de la barre de recherche */
    padding: 10px; /* Rembourrage à l'intérieur de la barre de recherche */
    font-size: 16px; /* Taille de la police */
}